Include ~/.ssh/config_local

Host *
    Protocol 2
    Compression yes
    ServerAliveCountMax 5
    ServerAliveInterval 30
    IdentitiesOnly yes
    ForwardAgent no

ControlMaster auto
ControlPath ~/.ssh/.control.%C

Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/git
  #ProxyCommand nc -x wizard:7890 %h %p

Host gitea
  HostName airship.tailnet-48a5.ts.net
  Port 2222
  User git
  IdentityFile ~/.ssh/gitea
